span.off{
    font-weight: bold;
    color: #ffd30b;
}

span.on{
    font-weight: bold;
    color: #0ce22e;
}

span.waiting{
    font-weight: bold;
    color: #00a9e2;
}

span.nopower{
    font-weight: bold;
    color: #e22d00;
}