div.scienceItem{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    div.name {
        padding: 2px 10px;
    }
    margin-bottom: 3px;
    background-color: #555;
}

div.scienceItemGreen {
    background-color: #050;
}

div.scienceItemRed {
    background-color: #500;
}