div.scienceItem{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    border: solid 1px #666;

    div.name {
        padding: 2px 10px;
    }
    margin-bottom: 3px;
}