div.mapcontainer {
    display: flex;
}

div.resourceMapGrid{
    height: 600px;
    width: 600px;
    border: solid 1px #666;
    position: relative;
    background: url(./../../images/map.jpeg);

    div {
        height: 38px;
        width: 38px;
        border: solid 1px #666;
        position: absolute;
        background: #000 no-repeat 2px 2px;
        opacity: 0.7;
    }

    div.explored {
        background-color: transparent;
        opacity: 1;
    }

    div:hover {
        border: solid 1px #aaa;
    }

    div.selected {
        border: solid 1px #00f;
    }
}

div.mapSelectionPanel{
    margin-left: 10px;

    width: 300px;
    height: 300px;
    background-color: #333;
    h2 {
        background-color: #444;
        font-size: 20px;
        text-align: center;
        padding: 3px 15px;
        margin: 0;
    }
}